body {
   margin: 0;
   padding: 0;
}
.calculadora {
    background: rgb(0, 0, 0);
    width: 200px;
    color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px pink;
}
.calculadoraESG{
    background: rgb(137, 226, 178);
    width: 200px;
    color: rgb(237, 6, 241);
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 5px 5px rgb(2, 0, 0);
 }
.calculadora input{
    background:rgba(255, 253, 253, 0.442);
    border-radius: 10px;
}
.calculadoraESG input{
    background:rgba(255, 253, 253, 0.442);
    border-radius: 10px; 
 }

.calcF {
    display: none;
}
#calcFin{
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
.calculadora input:focus{
    background: white;
    color: black;
}
#btnCalc{
    background: white;
    margin-top: 20px;
    padding: 5px;
}
#btnCalc:hover{
    background: rgb(243, 195, 195);
    color: black;
    cursor: pointer;
}
#psTotal {
    background: rgb(7, 250, 225);
    color: black;
    padding: 10px;
    margin-bottom: 5px;
}
.spmes {
    width: 100%;
    background: purple;
    color: white;
    border-radius: 4px;
    border-style: dashed;
    border-color: white;
    border-width: 2px;
    margin-top: 10px;
 }
