body {
    margin: 0;
    padding: 0;
}
.calculadora{
  background: rgba(15, 70, 219, 0.486);
  width: 190px;
  color: red;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px pink;


}
.calculadora input {
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 7px;


}
#pstotal {
    background-color: black;
    color: yellow;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#btncalc {
    background-color: rgb(171, 199, 10);
    padding: 10px;
    margin-top: p0px;

}
#btncal:hover{
    background: green;
    cursor:auto;
    color: blue;
}
.spmes {
    width: 100%;
    background:  purple;
    color:red;
    border-radius: 10px;
    border-style:dashed;
    border-color: rgb(15, 155, 27) ;
    border-width:blank;
    margin-top: 4px ;
